@charset "UTF-8";

*{
    margin:0px;
    padding: 0px;

}
body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cartao {
     background-image: url("imagens/6.jpeg");
     width: 290px;
     height: 190px;
     border-radius: 10px;
     margin-top: 80px;

}
